<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Estacionamento</title>
</head>
<body>
	<div align="center">
		<h1>Editar estacionamento</h1>
		<br />
		<form action="#" th:action="@{/salvar}" th:object="${empresa}"
			method="post">
			<table border="0" cellpadding="5">
				<tr>
					<td>Id:</td>
					<td><input type="text" th:field="*{id_empresa}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>Nome:</td>
					<td><input type="text" th:field="*{nome}"></td>
				</tr>
				<tr>
					<td>CNPJ:</td>
					<td><input type="text" th:field="*{cnpj}"></td>
				</tr>
				<tr>
					<td>Endereço:</td>
					<td><input type="text" th:field="*{endereco}"></td>
				</tr>
				<tr>
					<td>Telefone:</td>
					<td><input type="text" th:field="*{telefone}"></td>
				</tr>
				<tr>
					<td>Quantidade de vagas/carros:</td>
					<td><input type="number" th:field="*{qtd_carros}"></td>
				</tr>
				<tr>
					<td>Quantidade de vagas/motos:</td>
					<td><input type="number" th:field="*{qtd_motos}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Salvar</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>